body {
    font-family: Arial, sans-serif;
    background-color:wheat;
}

.box {
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 30px;
}

.result {
    margin: 10vh;
}

.res {
    background-color:cadetblue;
}

.final {
    background-color: springgreen;
}

.main {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 10px;
    height: 40px;
    width: fit-content;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid wheat;
}

button:hover{
    background-color:cadetblue;
}

.sub {
    display: flex;
    flex-direction: row;
}

.square {
    height: 100px;
    width: 100px;
    border: 1px solid white;
}

@media (max-width:350px) {
    .square {
        height: 75px;
        width: 75px;
    }
    div {
        font-size: 25px;
    }
}